#bodyAbout{
    
    color:white;
    /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='16' height='16' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(155)'%3E%3Crect width='100%25' height='100%25' fill='rgba(136, 12, 23,1)'/%3E%3Cpath d='M-2.5 20h5v3h-5zM37.5 20h5v3h-5z' fill='rgba(0, 0, 0,1)'/%3E%3Cpath d='M18.75 20h2.5v3h-2.5zM58.75 20h2.5v3h-2.5z' fill='rgba(225, 225, 210,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
    /*background-image:url(https://media.discordapp.net/attachments/945238966628667412/946173222133575792/maxresdefault.jpg1.png?width=1248&height=702);
    background-repeat: no-repeat;
    background-size: cover;*/
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='16' height='16' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(155)'%3E%3Crect width='100%25' height='100%25' fill='rgba(136, 12, 23,1)'/%3E%3Cpath d='M-2.5 20h5v3h-5zM37.5 20h5v3h-5z' fill='rgba(0, 0, 0,1)'/%3E%3Cpath d='M18.75 20h2.5v3h-2.5zM58.75 20h2.5v3h-2.5z' fill='rgba(225, 225, 210,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    
}
#bodyAbout h1{
    color : White;
text-align: center;
    padding-top: 5vh;
    
}
.CardAbout{
    margin-top:5vh;
    padding-bottom: 10vh;
}
.CardAboutImg{
    width : 18rem;
    max-height: 400px;
  }
.CardAboutHoraire{
    text-align: center;
}
.CardAboutTxt{
    text-align: justify;
}
.CardAboutTxt, .CardAboutHoraire, .CardAboutSite{
    border-top: white 2px solid;
    margin-top:10px;
    padding-top: 10px;
}
.AboutSiteHREF, .AboutSiteHREF:hover{
    color:white;
    text-decoration: none;
}
