.imglogo{   
    border-radius: 50%;
    max-width: 20vh;
    min-width: 100px;
    border:5px solid white
}
.homepageBody{
    background-image: url('images/graoully.jpg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
    
}
.testbtn{
    background: red;
}
#hometext, #imglogo{
    padding-top: 20vh;
}
#imglogo, #homebtn, #hometext{
    text-align: center;
}
#homebtn{
    padding-bottom: 25vh;
}
#hometext, .LinkNav{
    color:white;
    text-decoration:none;
}
.LinkNav:hover{
    color:darkgray;
}

